.contact-container {
    margin: 0;
    padding: 0;
    background-color: black;
}

.contact {
    width: 500px;
    background-color: gray;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    bottom: 50%; 
    transform: translate(-50%,-50%);
    position: absolute;
}

form {
    margin: 35%;
}

.form {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;
}

.form textarea {
    height: 150px;
    padding-top: 10px;
}