/* .backgroundImage {
    height: 100vh;
}

.backgroundImage::before {
    content: "";
    position: fixed;
    background-image: url("../images/a.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
} */