@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Fredoka+One&display=swap'); 

.backgroundImage {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    color: white;
    /* font-size: 300px; */
    height: 400px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin Condensed', sans-serif;
}

/* .container-two {
    color: white;
    height: 200px;
    width: 400px;
} */