.backgroundImage {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    color: white;
    font-size: 150px;
    height: 300px;
    width: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container-two {
    color: white;
    height: 200px;
    width: 400px;
} */