.backgroundImage {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    color: white;
    font-size: 130px;
    height: 400px;
    width: 800px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container-two {
    color: white;
    height: 200px;
    width: 400px;
} */