@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Fredoka+One&display=swap'); 

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: black;
    padding: 30px;
    
}

.image-container img {
    width: 600px;
    /* opacity: 0.8; */
}

.image-container{
    position: relative;
}

.image-container .content {
    opacity: 0;
    position: absolute;
    top: 50px;
    color: white;
    left: 50px;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.image-container .content:hover {
    opacity: 1;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Cabin Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: rgb(92, 1, 54);
}

.description-container {
    width: 600px;
    padding-bottom: 50px;
}

.description-title {
    justify-content: center;
}

.description {
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: white;
} 

.tech {
    color: white;
    font-size: 20px;
}

.items {
    color: rgb(8, 181, 57);
    font-size: 20px;
}

#back-end:hover {
    color: white;
}

